.mouse-cursor{
  position: fixed;
  top: 0;
  left: 0;
  
  height: 35px;
  width: 35px;
  padding: 0.3rem;
  
  border: 1px black solid;
  border-radius: 50%;

  pointer-events: none;
 
  mix-blend-mode: color-burn;

  z-index: 1000;

  transition: transform 0.5s ease, width 0.3s ease, height 0.3s ease;  
}