*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chonburi', 'Poppins', sans-serif;
}

html, body{
  width: 100vw;
  height: 100vh;
}

html{
  background-color: #FEF9F2;
}

html[data-theme="dark"]{
  background-color: #0B090A;
}